@import 'variables';
$new: darken($pri-color, 50%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    background: linear-gradient(45deg,rgba($pri-color, 0.5), rgba($new, 0.5));
    width: 100vw;
    height: 100vh;

}