@import "variables";
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .row {
        display: flex;
        flex-wrap: wrap;
        .col {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }
      }
    
}


  