.student-list {
    margin: 1rem 0;
  
    .header-row {
      display: flex;
      background-color: #343a40;
      color: #fff;
      font-weight: bold;
  
      .cell {
        flex-basis: calc(100% / 6);
        padding: 1rem 1rem 1rem 0;
        margin: 1rem 2rem 1rem 0.3rem;
        flex-wrap: wrap;
      }
    }
  
    .data-row {
      display: flex;
      border-bottom: 1px solid #dee2e6;
  
      .cell {
        flex-basis: calc(100% / 6);
        padding: 1rem 1rem 1rem 0;
        margin: 1rem 2rem 1rem 0.3rem;
        flex-wrap: wrap;
      }
    }
  
    .empty-row {
      display: flex;
      justify-content: center;
      padding: 1rem;
      font-weight: bold;
    }
  }
  