.confirm-removal-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.confirm-removal-modal .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirm-removal-modal .modal-content p {
  text-align: center;
}
.confirm-removal-modal .modal-content .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.confirm-removal-modal .modal-content .buttons button {
  margin: 0 10px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 5px;
}