.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-center img {
  width: 300px;
  height: auto;
  border-radius: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2vh 0 2vh 0;
}
.text-center h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #201e1e;
}
.text-center h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #201e1e;
  margin: 1vh 0 0 0;
  text-shadow: 5px 3px 1px #7c2424;
}