.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
}
.container .row .col {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}