.student-list {
  margin: 1rem 0;
}
.student-list .header-row {
  display: flex;
  background-color: #343a40;
  color: #fff;
  font-weight: bold;
}
.student-list .header-row .cell {
  flex-basis: 16.6666666667%;
  padding: 1rem 1rem 1rem 0;
  margin: 1rem 2rem 1rem 0.3rem;
  flex-wrap: wrap;
}
.student-list .data-row {
  display: flex;
  border-bottom: 1px solid #dee2e6;
}
.student-list .data-row .cell {
  flex-basis: 16.6666666667%;
  padding: 1rem 1rem 1rem 0;
  margin: 1rem 2rem 1rem 0.3rem;
  flex-wrap: wrap;
}
.student-list .empty-row {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: bold;
}